/* Contenedor principal */

.dataETracking_message {
  z-index: 2;
  margin-top: 2rem;
  padding: 1rem;
}
.dataETracking_message p {
  padding: 1rem;
  background-color: var(--background-gray-black);
  color: var(--text-color-white);
  font-size: var(--font-size-xl);
  border-radius: 1rem;
  text-align: center;
}

.dataETracking {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
  padding-top: 4rem;
  gap: 1rem;
  opacity: 1;
  z-index: 3;
}

.dataETracking_code {
  width: 100%;
  margin: auto;
  color: var(--text-color-blue);
  font-size: var(--font-size-2xl);
}
/* Sección Delivered */
.dataETracking_delivered {
  width: 100%;
  position: relative;
  padding: 1rem;
}

.dataETracking_delivered-line {
  width: 100%;
  height: 5px;
  background-color: var(--text-color-blue-ligth);
  border-radius: 1rem;
}

.dataETracking_delivered-datas {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dataETracking_delivered-data {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dataETracking_delivered-data span {
  position: relative;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--text-color-blue-ligth);
  border: 3px solid var(--background-white);
  margin-top: -10px;
}

.dataETracking_delivered-data span::after {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid var(--text-color-blue-ligth);
}

.dataETracking_delivered-data p {
  position: absolute;
  top: 10px;
  font-size: var(--font-size-base);
  color: var(--text-color-blue-ligth);
  white-space: nowrap;
}

/* Estilos comunes para tablas */
.dataETracking_basic,
.dataETracking_details,
.dataETracking_events {
  width: 100%;
  margin: auto;
  padding: 2rem 0;
  border-top: 2px solid rgba(106, 106, 106, 0.141);
  overflow: auto;
}

.dataETracking_basic table,
.dataETracking_details table,
.dataETracking_events table {
  width: 100%;
  border-collapse: collapse;
}

.dataETracking_basic th,
.dataETracking_details th,
.dataETracking_events th {
  min-width: 100px;
  border-left: 2px solid #ccc;
  text-align: center;
  font-weight: 400;
  color: var(--text-color-gray-black);
  font-size: var(--font-size-base);
  padding: 0 10px;
}

/* dataETracking_basic */
.dataETracking_basic td {
  color: var(--text-color-white);
  background-color: var(--background-gray-black);
  padding: 10px;
  text-align: center;
  font-weight: 500;
  font-size: var(--font-size-base);
}

/* dataETracking_details */
.dataETracking_details td {
  color: var(--text-color-white);
  padding: 10px;
  text-align: center;
  font-weight: 400;
  font-size: var(--font-size-base);
}

.dataETracking_details-rowEven {
  background-color: var(--background-gray-black);
}

/* dataETracking_events */
.dataETracking_events {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dataETracking_events h3 {
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--text-color-blue-ligth);
}

.dataETracking_events td {
  color: var(--text-color-gray-black);
  padding: 10px;
  text-align: center;
  font-weight: 400;
  font-size: var(--font-size-base);
}

.dataETracking_events-rowEven {
  background-color: rgb(231, 236, 238);
}

@media (max-width: 850px) {
  .dataETracking {
    padding: 1rem;
  }

  .dataETracking_events h3 {
    font-size: var(--font-size-2xl);
  }
  .dataETracking_basic th,
  .dataETracking_details th,
  .dataETracking_events th {
    font-size: var(--font-size-lg);
  }

  .dataETracking_events td {
    font-size: var(--font-size-lg);
  }
}
