:root {
  --background-black: #000000;
  --background-blue: #1a66a3;
  --background-blue-ligth: #208dd0;
  --background-white: #ffffff;
  --background-orange: #ff6200;
  --background-gray-transparent: #9d8f8f1a;
  --background-gray: #d9d9d9;
  --background-gray-black: #2b2c2c;

  --text-color-orange: #ff6200;
  --text-color-red: #fb4848;

  --text-color-blue: #1a66a3;
  --text-color-blue-ligth: #008dff;
  --text-color-black: #000000;
  --text-color-gray: #bfadad;
  --text-color-white: #ffffff;
  --text-color-gray-black: #2b2c2c;

  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px (Estándar recomendado) */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.875rem; /* 30px */
  --font-size-4xl: 2.25rem; /* 36px */
  --font-size-5xl: 3rem; /* 48px */
  --font-size-6xl: 3.75rem; /* 60px */
  --font-size-7xl: 4.5rem; /* 72px */
  --font-size-8xl: 6rem; /* 96px */
}

@font-face {
  font-family: 'goodDog';
  src: url('/fonts/goodDog.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'goodDogCool';
  src: url('/fonts/goodDogCool.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat.ttf') format('truetype');
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: 'Ubuntu';
}

body {
  margin: 0 auto;
  width: 100vw;
  min-width: 360px;
  background-color: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: var(--text-color-white);
}

ul,
li,
:link {
  list-style: none;
  padding: 0;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

input {
  outline: none;
  font-family: inherit;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.img-fluid {
  width: 100%;
  padding: 1rem;
  height: auto;
}
.circle {
  fill: #f1f6fa;
  transition: fill 0.3s ease;
}

.icon {
  fill: #1a66a3;
  transition: fill 0.3s ease;
}

@media (max-width: 1400px) {
  :root {
    --font-size-xs: 0.6375rem; /* 10.2px */
    --font-size-sm: 0.74375rem; /* 11.9px */
    --font-size-base: 0.85rem; /* 13.6px */
    --font-size-lg: 0.95625rem; /* 15.3px */
    --font-size-xl: 1.0625rem; /* 17px */
    --font-size-2xl: 1.275rem; /* 20.4px */
    --font-size-3xl: 1.59375rem; /* 25.5px */
    --font-size-4xl: 1.9125rem; /* 30.6px */
    --font-size-5xl: 2.55rem; /* 40.8px */
    --font-size-6xl: 3.1875rem; /* 51px */
    --font-size-7xl: 3.825rem; /* 61.2px */
    --font-size-8xl: 5.1rem; /* 81.6px */
  }
}

@media (max-width: 1000px) {
  :root {
    --font-size-xs: 0.5625rem; /* 9px */
    --font-size-sm: 0.6563rem; /* 10.5px */
    --font-size-base: 0.75rem; /* 12px */
    --font-size-lg: 0.8438rem; /* 13.5px */
    --font-size-xl: 0.9375rem; /* 15px */
    --font-size-2xl: 1.125rem; /* 18px */
    --font-size-3xl: 1.4063rem; /* 22.5px */
    --font-size-4xl: 1.6875rem; /* 27px */
    --font-size-5xl: 2.25rem; /* 36px */
    --font-size-6xl: 2.8125rem; /* 45px */
    --font-size-7xl: 3.375rem; /* 54px */
    --font-size-8xl: 4.5rem; /* 72px */
  }
}

@media (max-width: 700px) {
  :root {
    --font-size-xs: 0.45rem; /* 7.2px */
    --font-size-sm: 0.525rem; /* 8.4px */
    --font-size-base: 0.6rem; /* 9.6px */
    --font-size-lg: 0.675rem; /* 10.8px */
    --font-size-xl: 0.75rem; /* 12px */
    --font-size-2xl: 0.9rem; /* 14.4px */
    --font-size-3xl: 1.125rem; /* 18px */
    --font-size-4xl: 1.35rem; /* 21.6px */
    --font-size-5xl: 1.8rem; /* 28.8px */
    --font-size-6xl: 2.25rem; /* 36px */
    --font-size-7xl: 2.7rem; /* 43.2px */
    --font-size-8xl: 3.6rem; /* 57.6px */
  }
}
