.home {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}
.home_background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #1a66a3;
  overflow: hidden;
  z-index: 1;
}
.home_background img {
  position: absolute;
  width: 150%;
  right: -29%;
  top: 10%;
}

.page_container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.page-logo {
  position: fixed;
  width: 100%;
  max-width: 800px;
  top: auto;
  bottom: 0;
  right: 30%;
  z-index: 1;
  opacity: 0.8;
}

.title::after {
  content: '';
  display: block;
  width: 5.5rem;
  border-bottom: 5px dotted var(--text-color-blue);
  margin-top: 1rem;
}

.title_center::after {
  content: '';
  display: block;
  width: 5.5rem;
  border-bottom: 5px dotted var(--text-color-blue);
  margin: auto;
  margin-top: 0.8rem;
}

.button_animated {
  position: relative;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
  background-color: var(--background-white);
  border: 1px solid var(--background-blue);
  z-index: 10;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.button_animated p {
  font-size: var(--font-size-xl);
  color: var(--text-color-blue);
  transition: color 0.3s ease-in-out; /* Agregar transición */
}

.button_animated svg {
  width: 15px;
  fill: var(--text-color-blue); /* Cambiado de color a fill */
  transition: fill 0.3s ease-in-out; /* Agregar transición */
}

.button_animated:hover p,
.button_animated:hover svg {
  color: var(--text-color-white);
  fill: var(--text-color-white); /* Cambiar fill del SVG */
}

/* Animación del fondo */
.button_animated::before {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: var(--background-blue);
  position: absolute;
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

.button_animated:hover::before {
  width: 116%;
}

.button_animated::after {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: var(--background-blue-ligth);
  position: absolute;
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

.button_animated:hover::after {
  opacity: 1;
  width: 120%;
}

.whatsApp_fixed {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  z-index: 50;
  transition: 0.3s ease-in-out;
}

.whatsApp_fixed img {
  width: 80px;
}

.whatsApp_fixed:hover {
  scale: 1.1;
}

.visible {
  animation: opacityAnimation 1.3s forwards;
}

@keyframes opacityAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (max-width: 850px) {
  .whatsApp_fixed {
    bottom: 2rem;
    right: 1rem;
  }
  .whatsApp_fixed img {
    width: 70px;
  }
}
